@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300;1,600&family=Red+Hat+Display:wght@300&family=Source+Serif+Pro:wght@200&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cormorant Garamond', serif;

}




p,  a{
  font-family: 'Red Hat Display', sans-serif;
}

body {

  margin: 0; 
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 1.4em/1.4 Helvetica, Arial, sans-serif;
 
}

html {
  font-size: 1rem;
  font-family: 'Source Serif Pro', serif;
}

*, :after, :before {

  box-sizing: border-box;
}

h2 {
  font-size: 3.6rem;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}








/* 
html, body, #root {
  height: 100%;
} */
